.App {
  text-align: center;
}
table {
  display: block;
  background-color: #cdcdcd;
}

tr {
  display: block;
}
.App-logo {
  width: 90px;
  float: left;
  position: relative;
  margin-top: 00px;
  pointer-events: none;
}
body {
  background-color: white;
  color: black;
}
.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}
